@font-face {
    font-family: "ProximaNova";
    /* 
     * Нет такого font-style 
     * font-style: normal|italic|oblique|initial|inherit; 
     */
    font-style: Regular;
    src: url(fonts/Proxima_Nova_Regular.otf);
}

@font-face {
    font-family: "HelveticaNeueCyr";
    /* 
     * Нет такого font-weight
     * font-weight: normal|bold|bolder|lighter|number|initial|inherit;
     * А также 100, 200, 300, 400, 500, 600, 700, 800, 900
     */
    font-weight: thin;
    src: url(fonts/HelveticaNeueCyrThin.ttf);
}

@font-face {
    font-family: "Muller";
    src: url(fonts/MullerExtraBold.otf);
}

@font-face {
    font-family: "ProximaNovaRegular";
    /* Называй в одном стиле */
    src: url(fonts/Proxima_Nova_Regular.otf);
}

@font-face {
    font-family: "GothamPro";
    /* Называй в одном стиле */
    src: url(fonts/Gotham_pro.ttf);
}

@font-face {
    font-family: "HelveticaNeueCyr";
    font-weight: bold;
    src: url(fonts/HelveticaNeueCyrBold.otf);
}

@font-face {
    font-family: "HelveticaNeueCyr";
    /* 
     * Нет такого font-style 
     * font-style: normal|italic|oblique|initial|inherit; 
     */
    font-style: "roman";
    src: url(fonts/HelveticaNeueCyrRoman.otf);
}

@font-face {
    font-family: "Muller";
    /* 
     * Нет такого font-style 
     * font-style: normal|italic|oblique|initial|inherit; 
     */
    font-style: Black;
    src: url(fonts/MullerBlack.ttf);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@font-face {
    font-family: "ProximaNova";
    /* 
     * Нет такого font-style 
     * font-style: normal|italic|oblique|initial|inherit; 
     */
    font-style: Black;
    src: url(fonts/Proxima_Nova_Black.otf);
}

.big-main {
    background: url(images/header-background.png) no-repeat center center;
    /* Префикс не пиши, их не ты должен писать */
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: cover;
    -o-background-size: 100%;
    /* Оно тебе нужно? */
    min-height: 754px;
}


/* Оно тебе нужно? */

header {}

.header-row {
    /* % Зачем? */
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
    /* Вынеси в общий стиль */
    max-width: 1141px;
}

.logo-container .describe {
    margin-left: 90px;
    line-height: 18px;
    max-width: 350px;
    text-align: left;
    font-family: "ProximaNovaRegular";
    font-size: 12px;
    color: #E9E9E9;
}

.right-panel {
    position: relative;
    line-height: 18px;
}

.right-column {
    position: relative;
    float: left;
}

.plane-logo {
    width: auto;
    float: left;
}

.plane-describe {
    font-family: "ProximaNovaRegular";
    line-height: 18px;
    font-size: 12px;
    margin-left: 46px;
    color: #E9E9E9;
}

.plane {
    max-width: 150px;
    /* Чет печальное тут... */
    ;
    margin-left: auto;
    margin-right: auto;
}

.plane-container {
    margin-left: auto;
    margin-right: auto;
}

.left-panel {
    width: auto;
    float: left;
    /*    margin-right: 12%;*/
}

.logo {
    text-transform: uppercase;
    font-family: "ProximaNovaRegular";
    font-size: 23px;
    color: white;
    float: left;
}

.ready {
    font-family: "ProximaNovaRegular";
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.6em;
}

.column-left {
    float: left;
    margin-left: 10%;
    width: 33%;
}

.column-right {
    float: right;
    width: 33%;
    margin-left: 10%;
}

.left-panel {
    position: relative;
}

.column-center {
    display: inline-block;
    width: 33%;
}

.number {
    width: 100%;
    text-align: right;
    font-size: 16px;
    font-family: "ProximaNovaRegular";
}

.order-call {
    text-align: right;
    font-family: "HelveticaNeueCyr";
    /* Где-то выше */
    font-weight: thin;
    font-size: 14px;
    /* Дважды? */
    font-weight: thin;
    float: right;
    border-bottom: 1px solid #0097fb;
    color: #BFBFBF;
}

.under-title {
    max-width: 400px;
    line-height: 20px;
    font-family: "ProximaNovaRegular";
    font-size: 15px;
    color: #BFBFBF;
    text-align: left;
}

.title-header {
    line-height: 43px;
    margin-top: 37px;
    display: inline-block;
    max-width: 560px;
    font-family: "Muller";
    font-size: 35px;
    /* У тебя есть такой шрифт? */
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    /*        margin-bottom: 5%;*/
}

.advantage {
    width: 100%;
    height: 100%;
}

.button-video {
    /* Зачем тут %? */
    margin-top: 10%;
}

.left-button {
    display: inline;
    align-items: center;
    /*    float: left;*/
    font-family: "ProximaNovaRegular";
    font-size: 13px;
    white-space: nowrap;
    color: white;
    padding: 10%;
    border-radius: 36px;
    /* Где-то выше */
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    background-color: #0097FB;
}

.advantages {
    margin-top: -100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Можно сократить до
     * margin: -100px auto 0;
     */
}

.card {
    max-width: 1140px;
    /*    position: relative;*/
    /*    top: 30%;*/
    min-height: 210px;
    padding-left: 100px;
    /* АХТУНГ!!! */
    padding right: 100px;
    padding-top: 50px;
    background: #ffff;
    /* Где-то выше */
    -webkit-box-shadow: 4px 4px 26px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 4px 4px 26px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 4px 4px 26px 0px rgba(0, 0, 0, 0.20);
}

.right-button {
    /*
    position: relative;
    float: right;
*/
    /*float: right;*/
    /*   align: center;*/
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    /* не забываем о кроссбраузерности */
    /* Забываем, Андрей. */
    -moz-border-radius: 50%;
    background-color: #0097FB;
    width: 50px;
    height: 50px;
    background-image: url(images/play_icon.png) no-repeat center center fixed;
    -webkit-border-radius: 50%;
}

button,
button:active,
button:focus {
    outline: none;
}

.time {
    margin-top: 48px;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto
}

.advantages-title .title-1 {
    font-family: "Muller";
    /* Где-то выше */
    font-style: Black;
    margin-right: 13px;
    font-size: 70px;
    float: left;
}

.text-advantage {
    /* Где-то выше */
    font-style: "roman";
    font-family: "HelveticaNeueCyr";
    font-size: 13px;
    color: #636f7a;
    text-align: left;
    max-width: 180px;
    line-height: 20px;
    padding-top: 20px;
}

.advantages-title .title-2 {
    font-family: "ProximaNova";
    /* Где-то выше */
    font-style: Black;
    padding-top: 13px;
    font-size: 25px;
}

.advantages-title .title-3 {
    font-family: "HelveticaNeueCyr";
    font-weight: bold;
    font-size: 14px;
}

.advantages-title {
    width: 100%;
    background: url(images/font-advantages.png);
    /* Где-то выше */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    /* Должно быть в normalize.css */
    border-color: transparent;
    background: transparent;
}

.rotate {
    font-family: "ProximaNovaRegular";
    font-size: 17px;
    /*    font-weight: bold;*/
    display: block;
    color: white;
    text-align: center;
    /* Где-то выше */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    float: right;
    margin-top: 18px;
}

.pre-time-text {
    line-height: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 90px;
    font-family: "ProximaNovaRegular";
    font-size: 16px;
    /*    font-weight: bold;*/
    color: white;
    /*    display: inline-block;*/
    text-align: left;
}

.time-text h1 {
    display: inline-block;
    vertical-align: top;
    margin-top: -46px;
    font-family: "GothamPro";
    font-size: 150px;
    /*    font-style: light;*/
    color: white;
    /* Fallback: assume this color ON TOP of image */
    background: url(images/font-background.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.colourized-text {
    color: white;
}

.colourized-text span {
    color: #0097FB;
}

.col-25,
.col-30,
.col-33,
.col-35,
.col-40,
.col-45,
.col-50,
.col-55,
.col-60,
.col-65,

/* Что-то потерял */

col-70,
.col-75 {
    float: left;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: 33.333%;
}

.col-35 {
    width: 35;
    /* Что-то потерял */
}

.col-40 {
    width: 40%;
}

.col-45 {
    width: 45%;
}

.col-50 {
    width: 50%;
}

.col-55 {
    width: 55%;
}

.col-60 {
    width: 60%;
}

.col-65 {
    width: 65%;
}

.col-70 {
    width: 70%;
}

.col-75 {
    width: 75%;
}


/*

В общем, про валидность.

7 		                                    Value Error : font-style Regular is not a font-style value : Regular
18 		                                    Value Error : font-weight thin is not a font-weight value : thin
51 		                                    Value Error : font-style "roman" is not a font-style value : "roman"
61 		                                    Value Error : font-style Black is not a font-style value : Black
77 		                                    Value Error : font-style Black is not a font-style value : Black
208 	.order-call 	                    Value Error : font-weight thin is not a font-weight value : thin
211 	.order-call 	                    Value Error : font-weight thin is not a font-weight value : thin
283 	.card 	                            Value Error : padding Parse Error right: 100px
285 	.card 	                            Value Error : background #ffff is not a background-color value : #ffff
308 	.right-button 	                    Value Error : background-image is an incorrect operator : url(images/play_icon.png) no-repeat center center fixed
329 	.advantages-title .title-1 	        Value Error : font-style Black is not a font-style value : Black
337 	.text-advantage 	                Value Error : font-style "roman" is not a font-style value : "roman"
350 	.advantages-title .title-2 	        Value Error : font-style Black is not a font-style value : Black
460 	.col-35 	                        Value Error : width only 0 can be a unit. You must put a unit after your number : 35 

*/